<!-- list.component.html -->
<div class="table-container">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="eliminar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="eliminar(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- Columna Nombre del curso -->
    <ng-container matColumnDef="editar">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="update(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombreCurso">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="pi pi-book"></i> Nombre
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="creditos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <i class="pi pi-book"></i> Creditos
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.creditos}}</mat-cell>
    </ng-container>

    <!-- Definición de filas y columnas -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <button mat-fab extended (click)="create()">
    Crear
  </button>
</div>