<div class="container mx-auto mt-8">
  <button class="bg-blue-700 hover:bg-blue-800 text-white font-semibold py-2 px-4 rounded mb-4 transition duration-300 ease-in-out" (click)="create()">Crear Usuario</button>

  <table class="min-w-full bg-white border border-gray-300 shadow-lg rounded-lg overflow-hidden">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="py-3 px-4">Eliminar</th>
        <th class="py-3 px-4">Editar</th>
        <th class="py-3 px-4">Nombres</th>
        <th class="py-3 px-4">Apellidos</th>
        <th class="py-3 px-4">Email</th>
        <th class="py-3 px-4">Identificación</th>
        <th class="py-3 px-4">Fecha de Nacimiento</th>
        <th class="py-3 px-4">Username</th>
        <th class="py-3 px-4">Celular</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of dataSource.data" class="hover:bg-gray-100 transition duration-300 ease-in-out">
        <td class="py-2 px-4">
          <button class="text-red-600 hover:text-red-700 font-bold" (click)="delete(user.id)">Eliminar</button>
        </td>
        <td class="py-2 px-4">
          <button class="text-yellow-600 hover:text-yellow-700 font-bold" (click)="update(user.id)">Editar</button>
        </td>
        <td class="py-2 px-4">{{ user.nombres }}</td>
        <td class="py-2 px-4">{{ user.apellidos }}</td>
        <td class="py-2 px-4">{{ user.email }}</td>
        <td class="py-2 px-4">{{ user.identificacion }}</td>
        <td class="py-2 px-4">{{ user.fecha_nacimiento }}</td>
        <td class="py-2 px-4">{{ user.username }}</td>
        <td class="py-2 px-4">{{ user.celular }}</td>
      </tr>
    </tbody>
  </table>
</div>
