<div class="container mx-auto mt-8">
  <button class="bg-blue-700 hover:bg-blue-800 text-white font-semibold py-2 px-4 rounded mb-4 transition duration-300 ease-in-out" (click)="create()">Crear Actividad</button>

  <table class="min-w-full bg-white border border-gray-300 shadow-lg rounded-lg overflow-hidden">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th class="py-3 px-4">Eliminar</th>
        <th class="py-3 px-4">Editar</th>
        <th class="py-3 px-4">Nombre de la Unidad</th>
        <th class="py-3 px-4">Título</th>
        <th class="py-3 px-4">Descripción</th>
        <th class="py-3 px-4">Actividades</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actividad of dataSource.data" class="hover:bg-gray-100 transition duration-300 ease-in-out">
        <td class="py-2 px-4">
          <button class="text-red-600 hover:text-red-700 font-bold" (click)="eliminar(actividad.id)">Eliminar</button>
        </td>
        <td class="py-2 px-4">
          <button class="text-yellow-600 hover:text-yellow-700 font-bold" (click)="update(actividad.id)">Editar</button>
        </td>
        <td class="py-2 px-4">{{ actividad.unidad.nombre }}</td>
        <td class="py-2 px-4">{{ actividad.titulo }}</td>
        <td class="py-2 px-4">{{ actividad.descripcion }}</td>
        <td class="py-2 px-4">{{ actividad.actividadescol }}</td>
      </tr>
    </tbody>
  </table>
</div>
